* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #0b1f0b;
}

/* HEADER */
header {
    background: #0b6b0b;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 26px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* HOME */
.home {
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?auto=format&fit=crop&w=1200&q=60');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background: #0b6b0b;
    padding: 12px 24px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #084e08;
}

/* SECTION STYLE */
.section {
    padding: 80px 60px;
    text-align: center;
}

.title {
    font-size: 32px;
    color: #0b6b0b;
    margin-bottom: 40px;
}

/* HABILIDADES */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.skill-box {
    background: #e7ffe7;
    padding: 25px;
    border-radius: 8px;
    border: 2px solid #0b6b0b;
}

.skill-box h3 {
    color: #0b6b0b;
    margin-bottom: 15px;
}

/* PROJETOS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 25px;
}

.card {
    background: #fff;
    border: 2px solid #0b6b0b;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
}

.card h3 {
    color: #0b6b0b;
    margin-bottom: 10px;
}

.card a {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 15px;
    background: #0b6b0b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.card a:hover {
    background: #084e08;
}

/* CONTATO */
.contato p {
    font-size: 18px;
    margin-top: 5px;
}

footer {
    background: #0b6b0b;
    color: white;
    padding: 15px;
    text-align: center;
}
